<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clx.ezgo.mapper.RatingDetailMapper">
    <insert id="add">
        insert into rating_detail(driver_id, driver_trip_id, passenger_id, passenger_trip_id, rating)
        values(#{driverID},#{driverTripID},#{passengerID},#{passengerTripID},#{rating})
    </insert>
</mapper>


